<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FIP4DCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FIP4DCS.Properties.Settings>
      <setting name="DCSBiosDataIP" serializeAs="String">
        <value>239.255.050.010</value>
      </setting>
      <setting name="DCSBiosDataPort" serializeAs="String">
        <value>5010</value>
      </setting>
      <setting name="DCSBiosListenIP" serializeAs="String">
        <value>127.000.000.001</value>
      </setting>
      <setting name="DCSBiosListenPort" serializeAs="String">
        <value>7778</value>
      </setting>
      <setting name="DCSProfilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowIPSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MiniMode" serializeAs="String">
        <value>False</value>
      </setting>
    </FIP4DCS.Properties.Settings>
  </userSettings>
</configuration>